<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KIFDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>KIFDemoForTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>UI Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>14E8D02D1ADFBC48009B5370</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14E9EC111ACE990F00FEF7A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14E9EC2A1ACE990F00FEF7A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14E9EC3E1ACE9B0D00FEF7A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
